body
{
    background-image: url('bgalap.png');
    background-image: center fixed no-repeat;
}

.dino, .frog
{
    float: left;
}

.penguin, .octopus
{
    float: right;
}

img
{
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
}

a
{
    display: inline-block;
	border: 1px solid #8c8e9b;
	color: #8c8e9b;
	border-radius: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	margin: 1rem;
	width: 96%;
    text-align: center; 
    font-size: 1.25rem;
    text-decoration: none;
}
p
{
    font-size: 3rem;
    text-align: center;
    color: #8c8e9b;
}